<meta name="turbo-cache-control" content="no-cache">
<div id="map" style="width: 100%; height: calc(100vh - 60px - 80px);"></div>

<script>
  const posts = <%= raw @posts.map { |p|
    {
      title: p.title,
      latitude: p.latitude,
      longitude: p.longitude,
      url: url_for(p)
    }
  }.to_json %>;

  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 5,
      center: { lat: 36.2048, lng: 138.2529 }
    });

    const infoWindow = new google.maps.InfoWindow();

    posts.forEach(function(post) {
      const marker = new google.maps.Marker({
        position: { lat: parseFloat(post.latitude), lng: parseFloat(post.longitude) },
        map: map,
        title: post.title
      });

      marker.addListener("click", function() {
        infoWindow.setContent(
          '<div><strong>' + post.title + '</strong><br>' +
          '<a href="' + post.url + '">詳細を見る</a></div>'
        );
        infoWindow.open(map, marker);
      });
    });
  }

  document.addEventListener("turbo:load", initMap);
</script>