<!DOCTYPE html>
<html>
  <body>
    <p>こんにちは、<%= @resource.email %>さん！</p>

    <p>パスワード変更のリクエストを受け付けました。下記のリンクからパスワードを変更してください。</p>

    <p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>ご依頼のない場合は、このメールは無視してください。</p>
    <p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
  </body>
</html>